{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-classes",
      "transform-custom-element-classes",
      "babel-plugin-transform-es2015-classes"
    ]
  }